<p-dialog header="Change password" 
 [(visible)]="isVisible" (onHide)="changeVisibility()" [style]="{width: '50vw'}" [modal]="true" [draggable]="false" [resizable]="false">
        <label for="current password" class="p-float-label input-label mt-4">Current Password </label>
        <p-password
        id="current password"
        type="password"
        [feedback]="false"
        placeholder="Current Password"
        styleClass="p-password p-component p-inputwrapper p-input-icon-right w-full mt-2"
        inputStyleClass="w-full"
        [toggleMask]="true"
        name="current password"
        [(ngModel)]="currentPassword"
        ></p-password>
        <label for="new password" class="p-float-label input-label mt-4">New Password </label>
        <p-password
        id="new password"
        type="password"
        [feedback]="false"
        placeholder="New Password"
        styleClass="p-password p-component p-inputwrapper p-input-icon-right w-full mt-2"
        inputStyleClass="w-full"
        [toggleMask]="true"
        name="new password"
        [(ngModel)]="newPassword"
        ></p-password>
        <label for="confirm password" class="p-float-label input-label mt-4">Confirm new Password </label>
        <p-password
        id="confirm password"
        type="password"
        [feedback]="false"
        placeholder="Confirm Password"
        styleClass="p-password p-component p-inputwrapper p-input-icon-right w-full mt-2"
        inputStyleClass="w-full"
        [toggleMask]="true"
        name="confirm password"
        [(ngModel)]="confirmPassword"
        ></p-password>
        <div class="w-full flex justify-content-end mt-4">
            <p-button label="Change password" [disabled]="!areFieldsFilled()" (onClick)="changePassword()"></p-button>
        </div>
</p-dialog>
