
  .title {
    font-family: 'MarkPro';
    font-weight: 500;
    font-size: 24px;
    color: var(--primary-color);
  }
 
  .link {
    text-decoration: none;
    color: var(--primary-color);
    &:hover {
      text-decoration: underline;
    }
  }
  button {
    font-size: 18px;
  }

  .logo {
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .svg-container {
      width: fit-content;
      height: 30px;
    }
  }

