<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 m-auto">
    <div class="text-center mb-5">
        <div class="logo bg-primary shadow-4 m-auto">
      <div class="svg-container">
        <svg width="40" height="30" viewBox="0 0 282 100" fill="none">
          <rect y="6" width="282" height="88" rx="20" fill="#fff" />
          <circle cx="170" cy="50" r="50" fill="#fff" />
          <path
            d="M207 50c0 21.54-16.789 39-37.5 39S132 71.54 132 50s16.789-39 37.5-39S207 28.46 207 50Z"
            fill="#3536E6" />
          <circle cx="187.5" cy="36.5" r="7.5" fill="#fff" />
          <path stroke="#3536E6" d="M0 47.5h120m100 0h62" />
          <path fill="#3536E6" d="M20 19h60v15H20z" />
          <path
            d="M24 94h46v5c0 8.284-6.716 15-15 15H39c-8.284 0-15-6.716-15-15v-5Zm186 0h46v5c0 8.284-6.716 15-15 15h-16c-8.284 0-15-6.716-15-15v-5Z"
            fill="#fff" />
        </svg>
      </div>
    </div>
          <div class="p-component title text-900 text-3xl font-medium mb-3 mt-3">
      <span class="text-accent">Prof</span>jecteurs
    </div>
        <span class="text-600 font-medium line-height-3">Don't have an account?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Create one</a>
    </div>

    <div class="login-form">
       <label for="email" class="p-float-label input-label"> Email </label>
      <input
        type="text"
        class="input-field w-full mt-2 p-inputtext"
        pInputText
        [(ngModel)]="user.email"
        placeholder="Email"
        id="email"
        name="email"
         />
        <label for="password" class="p-float-label input-label mt-4"> Password </label>
        <p-password
        id="password"
        type="password"
        [feedback]="false"
        placeholder="Password"
        styleClass="p-password p-component p-inputwrapper p-input-icon-right w-full mt-2"
        inputStyleClass="w-full"
        [toggleMask]="true"
        [(ngModel)]="user.PSW"
        name="password"></p-password>

        <div class="flex-inline align-items-center justify-content-between mb-3">
 <div class="mt-2 mb-4 flex justify-content-between">
        <div class="flex gap-2">
          <p-checkbox [binary]="true" [(ngModel)]="rememberUser" inputId="binary" name="rememberUser"></p-checkbox>
          <span class="p-float-label">Remember me</span>
        </div>
        <a class="p-float-label text-right link" href="/auth/forgot-password">Forgot password?</a>
      </div>

      <p-button
        label="Login"
        severity="primary"
        styleClass="mt-3 w-full"
        icon="pi pi-user"
        size="large"
        type="submit"
        (onClick)="UpdateUser()" ></p-button>    </div>
</div>