<p-table [value]="users" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
        <tr>
            <td>{{ users.id }}</td>
            <td>{{ users.FirstName }}</td>
            <td>{{ users.LastName}}</td>
            <td>{{ users.email }}</td>
        </tr>
    </ng-template>
</p-table>